mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.place-for-address-contacts
				p.inner-txt МЕСТО ПОД АДРЕСНЫЙ БЛОК КОНТАКТОВ
			.footer-logo-block
				img.small-cat-and-dog(src='img/footer/small-cat-and-dog-icon.png')
				img.footer-logo(src='img/footer/footer-logo.png')
				.footer-logo-txt для кошек и собак всех пород
			nav.footer-menu
				ul.footer-menu-list
					li.footer-menu-item
						a.footer-menu-item-link(href='#') Корма для собак
					li.footer-menu-item
						a.footer-menu-item-link(href='#') Корма для кошек
					li.footer-menu-item
						a.footer-menu-item-link(href='#') Идеальная формула
					li.footer-menu-item
						a.footer-menu-item-link(href='#') Контакты
