mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.place-for-address-contacts
				p.inner-txt МЕСТО ПОД АДРЕСНЫЙ БЛОК КОНТАКТОВ
			.footer-logo-block
				img.small-cat-and-dog(src='img/@2x/small-cat-and-dog-icon.png')
				img.footer-logo(src='img/@2x/footer-logo.png')
				.footer-logo-txt для кошек и собак всех пород
			nav.footer-menu
				ul.footer-menu-list
					li.footer-menu-item
						a.footer-menu-item-link(href='#s-dogs-slider') Корма для собак
					li.footer-menu-item
						a.footer-menu-item-link(href='#s-cats-slider') Корма для кошек
					li.footer-menu-item
						a.footer-menu-item-link(href='#s-perfect-formula') Идеальная формула
					li.footer-menu-item
						a.footer-menu-item-link(href='.footer') Контакты
