
	// start .s-test
	.s-advantage {
		text-align: center;
		.advantage-title{
			color: $home-advantage-headline-color;
			font-size: $main-headline-fs;
			line-height: 1;
			margin: 0px 0px 0px 0px;
			font-weight: 900;
		}
		.advantages-pills-list{
			list-style: none;
			margin-right: 0;
			margin-left: 0;
			font-size: 0;
			.advantages-pills-list-item{
				text-align: center;
				.inner-img-container{
					display: flex;
					margin: 0 auto;
					border-radius: 50%;
					.inner-img{
						width: 70%;
						height: 70%;
						margin: auto;
					}
				}
				.pill-description{
					line-height: 1.448;//
					text-align: center;//
					padding: 0;
					color: $h-color; //#4a4b4c;
					font-size: $pill-description-fs;
					font-weight: 900; //
					position: relative;
				}
			}
		}
		.convince-txt-container{
			display: block;
			position: relative;
			background-color: $convince-bg-color;
			text-align: left;
			.convince-txt-head-line{
				font-size: $convince-txt-headline; //58.5px;
				font-weight: 900;
				line-height: 1.25;
				color: $h-color;
				padding-bottom: 0.35rem;
			}
			.convince-txt-par{
				color: $h-color; //
				font-weight: 500;//
				font-size: $convince-txt--par-fs;
			}
			.convince-img{
				background-size: cover;
			}
		}

	@include media-breakpoint-up(base-xl) {
		padding-top: 200px;
		text-align: center;
		font-family: $default-font;
		.small-cat-and-dog{
			margin-right: -32px;
			width: auto;
		}
		.advantage-title{
			color: $home-advantage-headline-color;
			line-height: 1;
			padding: 10px 0 0 40px;
			margin: 0;
			font-weight: 900;
		}
		.advantages-pills-list{
			display: block;
			list-style: none;
			padding-top: 129px;
			margin-right: 0;
			margin-left: 0;
			.advantages-pills-list-item{
				display: inline-block;
				vertical-align: top;
				text-align: center;
				.inner-img-container{
					display: flex;
					width: 330px;
					height: 330px;
					margin: 0 auto;
					border-radius: 50%;
					.inner-img{
						//max-width: 70%;
						//max-height: 70%;
					}
				}
				.pill-description{
					line-height: 1.448;
					text-align: center;
					padding: 0;
					color: $h-color; //#4a4b4c;
					font-weight: 900;
					margin-top: 25px;
					position: relative;
				}
				//pill pixel perfect
				&:nth-child(1){
					.inner-img-container{
						margin-left: 11.5%;
						.inner-img{
							//margin: 17% 0 0 2.5%;
						}
					}
					.pill-description{
						left: -45px;
					}
				}
				&:nth-child(2){
					.inner-img-container{
						margin-left: 18%;
						.inner-img{
							//margin: 24% 0 0 1.2%;
						}
					}
					.pill-description{
						left: -15px;
					}
				}
				&:nth-child(3){
					.inner-img-container{
						margin-left: 25%;
						.inner-img{
							//margin: 19% 0 0 10%;
						}
					}
					.pill-description{
						left: 21px;
					}
				}
				&:nth-child(4){
					.inner-img-container{
						margin-left: 29%;
						.inner-img{
							//margin: 17% 0 0 2%;
						}
					}
					.pill-description{
						left: 45px;
					}
				}
			}
		}
		.convince-txt-container{
			display: block;
			position: relative;
			width: 1900px;
			max-width: 82%;
			background-color: $convince-bg-color;
			padding-left: 155px;
			margin: 275px 0 0 145px;
			text-align: left;
			.convince-txt-head-line{
				font-weight: 900;
				padding-top: 115px;
				line-height: 1.25;
				color: $h-color;
			}
			.convince-txt-par{
				margin: 0;
				color: $h-color;
				padding: 7px 0 140px 0;
				font-weight: 500;
				width: 52%;
				line-height: 58.5px;
			}
			.convince-img{
				position: absolute;
				right: -95px;
				top: -95px;
				width: 770px;
				height: 770px;
				background-size: cover;
			}
		}
	}
	@include media-breakpoint-only(base-lg) {
		padding-top: 200px;

		.small-cat-and-dog{
			margin-right: -32px;
		}
		.advantage-title{
			//font-size: $h-font-size;//44
			padding: 16px 0 0 40px;
		}
		.advantages-pills-list{
			padding-top: 129px;
			.advantages-pills-list-item{
				.inner-img-container{
					width: 190px;
					height: 190px;
					.inner-img{
						//max-width: 50%;
						//margin: auto;
						//line-height: 190px;
					}
				}
				.pill-description{
					padding: 0;
					//font-size: $em-base;
					margin-top: 25px;
				}
			}
		}
		.convince-txt-container{
			width: 1850px;
			max-width: 82%;
			padding-left: 60px;
			margin: 200px 0 0 70px;
			.convince-txt-head-line{
				//font-size: 35px;
				padding-top: 70px;
			}
			.convince-txt-par{
				margin: 0;
				padding: 10px 0 80px 0;
				//font-size: $em-base * 0.75; //20px
				width: 58%;
				line-height: 35px;
			}
			.convince-img{
				position: absolute;
				right: -5%;
				top: -20%;
				width: 500px;
				height: 500px;
			}
		}
	}

	//
	@include media-breakpoint-up(xl) {
		padding-top: 200px;
		.small-cat-and-dog{
			width: 100px;
			height: auto;
		}
		.advantage-title{
			//font-size: $h-font-size; //34px;
			padding: 20px 0 0 0px;
		}
		.advantages-pills-list{
			padding-top: 80px;
			.advantages-pills-list-item{
				.inner-img-container{
					width: 190px;
					height: 190px;
					.inner-img{
						//max-width: 50%;
						//margin: auto;
						//line-height: 190px;
					}
				}
				.pill-description{
					//font-size: $em-base * 0.8;
					margin-top: 25px;
				}
			}
		}
		.convince-txt-container{
			width: 1850px;
			max-width: 82%;
			padding-left: 50px;
			margin: 100px 0 0 100px;
			.convince-txt-head-line{
				padding-top: 56px;
			}
			.convince-txt-par{
				margin: 0;
				padding: 10px 0 40px 0;
				width: 55%;
				line-height: 35px;
			}
			.convince-img{
				position: absolute;
				right: -40px;
				top: -40px;
				width: 400px;
				height: 400px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		//$h-font-size: 1.62 * $em-base;
		padding-top: 100px;
		.small-cat-and-dog{
			width: 100px;
			height: auto;
		}
		.advantage-title{
			//font-size: $h-font-size; //28
			padding: 20px 0 0 0px;
		}
		.advantages-pills-list{
			padding-top: 60px;
			.advantages-pills-list-item{
				.inner-img-container{
					width: 150px;
					height: 150px;
					.inner-img{
						//max-width: 50%;
						//margin: auto;
						//line-height: 150px;
					}
				}
				.pill-description{
					//font-size: $em-base; //15
					margin-top: 25px;
				}
			}
		}
		.convince-txt-container{
			max-width: 82%;
			padding-left: 45px;
			margin: 100px 0 0 80px;
			.convince-txt-head-line{
				//font-size: 22px;
				padding-top: 45px;
			}
			.convince-txt-par{
				margin: 0;
				padding: 10px 0 35px 0;
				//font-size: 14px;
				width: 55%;
				line-height: 30px;
			}
			.convince-img{
				position: absolute;
				right: -34px;
				top: -34px;
				width: 340px;
				height: 340px;
			}
		}
	}
	@include media-breakpoint-up(md) {
		padding-top: 80px;
		.small-cat-and-dog{
			width: 85px;
			height: auto;
		}
		.advantage-title{
			padding: 15px 0 0 0px;
		}
		.advantages-pills-list{
			padding-top: 45px;
			.advantages-pills-list-item{
				padding: 0;
				.inner-img-container{
					width: 120px;
					height: 120px;
					.inner-img{
						//max-width: 50%;
						//margin: auto;
						//line-height: 120px;
					}
				}
				.pill-description{
					padding: 0;
					margin-top: 25px;
				}
			}
		}
		.convince-txt-container{
			padding-left: 30px;
			margin: 80px 0 0 0;
			&:after{
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				background-color: white;
				width: 34px;
				height: 100%;
			}
			.convince-txt-head-line{
				//font-size: 22px;
				padding-top: 30px;
			}
			.convince-txt-par{
				margin: 0;
				padding: 5px 0 35px 0;
				//font-size: 13.5px;
				width: 55%;
				line-height: 24px;
			}
			.convince-img{
				position: absolute;
				z-index: 2;
				right: 0px;
				top: -34px;
				width: 280px;
				height: 280px;
			}
		}
	}
	@include media-breakpoint-only(sm) {
		padding-top: 80px;
		.small-cat-and-dog{
			width: 85px;
			height: auto;
		}
		.advantage-title{
			//font-size: $h-font-size; //25
			padding: 15px 0 0 0px;
		}
		.advantages-pills-list{
			padding-top: 45px;
			.advantages-pills-list-item{
				padding: 0;
				.inner-img-container{
					width: 120px;
					height: 120px;
					.inner-img{
						//max-width: 50%;
						//margin: auto;
						//line-height: 120px;
					}
				}
				.pill-description{
					//font-size: $em-base; //11
					margin-top: 25px;
				}
			}
		}
		.convince-txt-container{
			padding-left: 30px;
			margin: 80px 0 0 0;
			&:after{
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				background-color: white;
				width: 34px;
				height: 100%;
			}
			.convince-txt-head-line{
				//font-size: 22px;
				padding-top: 30px;
			}
			.convince-txt-par{
				margin: 0;
				padding: 5px 40px 0 0;
				//font-size: 13.5px;
				width: 100%;
				line-height: 24px;
			}
			.convince-img{
				position: relative;
				z-index: 2;
				//margin-left: auto;
				bottom: -34px;
				left: 0px;
				width: 280px;
				height: 280px;
			}
		}
	}

	@include media-breakpoint-only(xs) {
		padding-top: 80px;
		.small-cat-and-dog{
			width: 85px;
			height: auto;
		}
		.advantage-title{
			//font-size: $h-font-size; //20
			padding: 15px 0 0 0px;
		}
		.advantages-pills-list{
			padding-top: 45px;
			.advantages-pills-list-item{
				padding: 0;
				.inner-img-container{
					width: 120px;
					height: 120px;
					.inner-img{
						//max-width: 50%;
						//margin: auto;
						//line-height: 120px;
					}
				}
				.pill-description{
					//font-size: $em-base; //11
					margin-top: 25px;
				}
			}
		}
		.convince-txt-container{
			margin-top: 80px;
			margin-right: -15px;
			margin-left: -15px;
			.convince-txt-head-line{
				//font-size: 22px;
				padding-top: 20px;
				padding-left: 20px;
			}
			.convince-txt-par{
				margin: 0;
				padding: 5px 20px 20px 20px;
				//font-size: 13.5px;
				width: 100%;
				line-height: 24px;
			}
			.convince-img{
				position: relative;
				margin-left: auto;
				bottom: 0;
				width: 100vw;
				height: 100vw;
				max-width: 480px;
				max-height: 480px;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }


	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.s-test