mixin s-advantage()
	// start s-test
	+b.SECTION.s-advantage.section#s-test&attributes(attributes)
		.container
			img.small-cat-and-dog(src="img/advantage-img/small-cat-and-dog-icon.png")
			h2.advantage-title Премиальный полнорационный корм
			ul.advantages-pills-list.row
				li.advantages-pills-list-item.col-md-5.col-10
					.inner-img-container(style="background-color: #c5e6c5 ;")
						img.inner-img(src='img/advantage-img/bones-item.png')
					p.pill-description
						| Полностью
						br
						| сбалансированный состав
				li.advantages-pills-list-item.col-md-5.col-10
					.inner-img-container(style="background-color: #fcccb9 ;")
						img.inner-img(src='img/advantage-img/plate-item.png')
					p.pill-description
						|Высокая
						br
						|поедаемость
				li.advantages-pills-list-item.col-md-5.col-10
					.inner-img-container(style="background-color: #fdd2e5 ;")
						img.inner-img(src='img/advantage-img/drugs-item.png')
					p.pill-description
						|Содержит пребиотики
						br
						|для пищеварения
				li.advantages-pills-list-item.col-md-5.col-10
					.inner-img-container(style="background-color: #aae3dd ;")
						img.inner-img(src='img/advantage-img/chempion-item.png')
					p.pill-description
						| Качество
						br
						| Human Grade
			.convince-txt-container
				h6.convince-txt-head-line
					|Мы больше,
					br
					|чем просто эксперты
				p.convince-txt-par в области здоровья животных. Многие из нас также счастливые&nbsp; владельцы&nbsp; домашних кошек и собак. Сочетание профессиональных знаний и безграничной любви к домашним животным  позволяет  создавать  нам лучшие премиальные продукты
					br.d-none.d-md-block
					|для ваших любимых друзей.
				.convince-img(style="background-image: url(img/advantage-img/cat-dog-ducks.jpg)")

				
			.row
	// end s-test