mixin s-cats-slider()
	// start s-test
	+b.SECTION.s-cats-slider.section#s-test&attributes(attributes)
		.container
			img.small-cat-and-dog(src="img/s-cats-slider/small-brown-cat.png")
			h2.advantage-title.h2 Формула для кошек
		.slider-container
			.cats-swiper-prev
			.cats-swiper-next
			.cats-slider-cont
				.swiper-wrapper
					.swiper-slide(style='background-color: #c2e7ff;')
						.recipe-cont
							img.small-dog-img(src="img/s-cats-slider/small-cat-blue.png")
							h4.h4.recipe-txt РЕЦЕПТ ДЛЯ КОТЯТ
						.can-img(style="background-image: url(img/s-cats-slider/slider-img/1.png)")
						.lower-info-cont
							span.taste-txt(data-wrap-words='1') сардины в соусе
							span.info-txt 100г. 20банок
							.code-cont
								img.code-img(src='img/s-dogs-slider/slider-img/code-img.png')
								span.code-num 4606180018710
					.swiper-slide(style='background-color: #ffeec2;')
						.recipe-cont
							img.small-dog-img(src="img/s-cats-slider/small-cat-blue.png")
							h4.h4.recipe-txt РЕЦЕПТ ДЛЯ КОТЯТ
						.can-img(style="background-image: url(img/s-cats-slider/slider-img/2.png)")
						.lower-info-cont
							span.taste-txt(data-wrap-words='2') мясное ассорти с цыпленком и печенью
							span.info-txt 100г. 20банок
							.code-cont
								img.code-img(src='img/s-dogs-slider/slider-img/code-img.png')
								span.code-num 4606180018710
					.swiper-slide(style='background-color: #ffe1c6;')
						.recipe-cont.d-none
							img.small-dog-img(src="img/s-cats-slider/small-cat-blue.png")
							h4.h4.recipe-txt РЕЦЕПТ ДЛЯ ЩЕНКОВ3
						.can-img(style="background-image: url(img/s-cats-slider/slider-img/3.png)")
						.lower-info-cont
							span.taste-txt(data-wrap-words='2') мясное ассорти с курицей и потрошками
							span.info-txt 100г. 20банок
							.code-cont
								img.code-img(src='img/s-dogs-slider/slider-img/code-img.png')
								span.code-num 4606180018710
					.swiper-slide(style='background-color: #ffe4ee;')
						.recipe-cont.d-none
							img.small-dog-img(src="img/s-cats-slider/small-cat-blue.png")
							h4.h4.recipe-txt РЕЦЕПТ ДЛЯ ЩЕНКОВ4
						.can-img(style="background-image: url(img/s-cats-slider/slider-img/4.png)")
						.lower-info-cont
							span.taste-txt(data-wrap-words='2') мясное ассорти с телятиной и печенью
							span.info-txt 100г. 20банок
							.code-cont
								img.code-img(src='img/s-dogs-slider/slider-img/code-img.png')
								span.code-num 4606180018710
