mixin sImportnantChemicalsDogs()
	// start sContact
	+b.SECTION.s-importnant-chemicals.section#sContact&attributes(attributes)
		.container
			.row
				.col-20.col-lg-10.pet-and-text
					.h3.pet-txt-headline Разнообразное меню для собак всех пород.
					p.descr-par Включает в себя полезные рецептуры с овощами &nbsp;и &nbsp;безглютеновыми крупами – гречкой и рисом
					.pet-img-container
						img.pet-item(src="img/@2x/dog-and-plate.png")
						.elipse(style="background-color: #e6677d")
							span.inner-txt на основе натурального мяса
				.col-20.col-lg-10.img-block.d-none.d-sm-block
					img.pet-img-square(src="img/@2x/spring-dog.jpg")
	// end sContact .d-none.d-lg-block