mixin sPerfectFormula()
	// start s-perfect-formula
	+b.SECTION.s-perfect-formula.section#sContact&attributes(attributes)
		.container.text-center
			h4.s-headline Идеальная формула.
			p.class-headline-description
				|Корм «Натуральный баланс» содержит натуральные и полезные для Вашего питомца ингредиенты:
				br.d-none.d-lg-block
				|мясо, рыба, овощи,  безглютеновые крупы: гречка и рис, кальций, фосфор и витамины.
			.component-pills.row
				.component-pill-item.col-lg-4
					.img-container
						img.component-img(src='img/comoponents-img/1.png')
					p.component-descr Мясо
				.component-pill-item.col-lg-4
					.img-container
						img.component-img(src='img/comoponents-img/2.png')
					p.component-descr Рыба
				.component-pill-item.col-lg-4
					.img-container
						img.component-img(src='img/comoponents-img/3.png')
					p.component-descr Овощи
				.component-pill-item.col-lg-4
					.img-container
						img.component-img(src='img/comoponents-img/4.png')
					p.component-descr Безглютеновые крупы: гречка и рис
				.component-pill-item.col-lg-4
					.img-container
						img.component-img(src='img/comoponents-img/5.png')
					p.component-descr Кальций, фосфор и витамины.
	// end sContact