
mixin header()
	// start header
	+b.SECTION.header.section#header&attributes(attributes)
		.container
			header.home-header
				a(href="#").logo-link
					img(src='img/header-img/logo.png')
				nav.header-menu.d-none.d-lg-block
					ul
						li
							a(href='#') Корма для собак
						li
							a(href='#') Корма для кошек
						li
							a(href='#') Идеальная формула
						li
							a(href='#') Контакты
			.header-title
				img.header-title-img(src='img/header-img/cats-and-dogs-every-sort.png')
				h1.header-title-headline
					| Лучшее
					br
					| от природы
					br
					|для любимых
					br
					|друзей.
				p.header-title-txt
					|В Natural Balance мы предлагаем
					br
					|только премиальный, рекомендованный
					br
					|ветеринарами корм для собак и кошек
			.header-img-banner(style="background-image: url(img/header-img/cat-and-dog-img.png)")
				.img-quality-mark(style="background-image: url(img/header-img/quality-mark.png)")
// end header