
mixin header()
	// start header
	+b.SECTION.header.section#header&attributes(attributes)
		header.home-header
			.container
				.row
					.col-lg-auto.col
						a(href="#").logo-link
							img(src='img/@2x/logo.png')
					.col.d-none.d-lg-block
							ul
								li
									a.ancor-js(href='#s-dogs-slider') Корма для собак
								li
									a.ancor-js(href='#s-cats-slider') Корма для кошек
								li
									a.ancor-js(href='#s-perfect-formula') Идеальная формула
								li
									a.ancor-js(href='.footer') Контакты
					.col-auto.d-lg-none
						+b.toggle-menu-mobile--js.d-lg-none
							span
		.container
			.header-title
				img.header-title-img(src='img/@2x/cats-and-dogs-every-sort.png')
				h1.header-title-headline
					| Лучшее
					|от&nbsp;природы
					|для&nbsp;любимых
					|друзей.
				p.header-title-txt
					|В Natural Balance мы предлагаем
					|только&nbsp;премиальный,&nbsp;рекомендованный
					|ветеринарами корм для собак и кошек
			.header-img-banner(style="background-image: url(img/@2x/cat-and-dog-img.png)")
				.img-quality-mark(style="background-image: url(img/@2x/quality-mark.png)")
// end header