
	// start .sContact
	.s-importnant-chemicals-cats {
		.row{
			.pet-and-text{
				box-sizing: border-box;
				.pet-txt-headline{
					line-height: 1.063;
					font-weight: 900;
					color: $home-advantage-headline-color;
					font-size: $main-headline-fs;
					padding-bottom: 0.13rem;
				}
				.descr-par{
					line-height: 1.5;
					font-size: $cats-chems-dogs-description-part;
				}
				.pet-img-container{
					.pet-item{
						position: relative;
						z-index: 1;
					}
					.elipse{
						position: absolute;
						z-index: 0;
						border-radius: 50%;
						display: flex;
						.inner-txt{
							text-align: center;
							margin: auto;
							color: white;
							line-height: 1.2;
							text-transform: uppercase;
							font-weight: 700;
							font-size: $cats-elipse-inner-txt-fs;
							.small-txt{
								display: block;
								text-transform: lowercase;
								margin: auto;
								font-weight: 700;
								font-size: 1.15rem;
							}
						}
					}
				}
			}
		}
		@include media-breakpoint-up(base-xl) {
			margin-top: 380px;
			.row{
				.pet-and-text{
					padding-left: 6.7%;
					box-sizing: border-box;
					.pet-txt-headline{
						width: 63.5%;
						line-height: 1.063;
						font-weight: 900;
						color: $home-advantage-headline-color;
						//font-size: 54.5px;
					}
					.descr-par{
						width: 100%;
						margin-top: 20px;
						//font-size: $em-base;
						line-height: 58px;
					}
					.pet-img-container{
						.pet-item{
							position: relative;
							margin-left: 0%;
							margin-top: 70px;
							width: auto;
							z-index: 1;
						}
						.elipse{
							position: absolute;
							left: 140px;
							top: 375px;
							width: 536px;
							height: 536px;
							border-radius: 50%;
							display: flex;
							z-index: 0;
							.inner-txt{
								text-align: center;
								//margin: auto;
								//font-size: 38.5px;
								color: white;
								line-height: 1.21;
								text-transform: uppercase;
								font-weight: 700;
								padding-right: 10px;
								margin-top: 145px;
								.small-txt{
									display: block;
									text-transform: lowercase;
									width: 80%;
									margin: auto;
									//font-size: 38.5px;
								}
							}
						}
					}
				}
				.img-block {
					.pet-img-square{
						margin: 0px 0 0 -40px;
						width: auto;
						height: auto;
					}
				}
			}
		}
		@include media-breakpoint-up(base-lg) {
			margin-top: 150px;
			.row{
				.pet-and-text{
					padding-left: 6.7%;
					.pet-txt-headline{
						width: 80.5%;
						//font-size: 42.5px;
					}
					.descr-par{
						width: 100%;
						margin-top: 29px;
						//font-size: $em-base;
					}
					.pet-img-container{
						.pet-item{
							margin-left: -3%;
							margin-top: -20px;
							width: 100%;
							height: auto;
						}
						.elipse{
							left: 20%;
							top: 27%;
							width: 330px;
							height: 330px;
							.inner-txt{
								//font-size: $em-base - 1px;
								.small-txt{
									//font-size: $em-base - 4px;
								}
							}
						}
					}
				}
				.img-block {
					.pet-img-square{
						margin: 0;
						width: 100%;
						height: auto;
					}
				}
			}
		}
		@include media-breakpoint-up(xl) {
			margin-top: 50px;
			.row{
				.pet-and-text{
					padding-left: 6.7%;
					.pet-txt-headline{
						width: 80.5%;
						//font-size: 32.5px;
					}
					.descr-par{
						width: 78.5%;
						margin-top: 29px;
						//font-size: $em-base + 0px;
					}
					.pet-img-container{
						.pet-item{
							margin-left: -3%;
							margin-top: -20px;
							width: 100%;
							height: auto;
						}
						.elipse{
							left: 20%;
							top: 30%;
							width: 260px;
							height: 260px;
							.inner-txt{
								//font-size: $em-base - 1px;
							}
						}
					}
				}
				.img-block {
					.pet-img-square{
						//position: relative;
						//margin-left: -20px;
						margin: 0;
						width: 100%;
						height: auto;
					}
				}
			}
		}
		@include media-breakpoint-only(lg) {
			margin-top: 75px;
			.row{
				.pet-and-text{
					padding-left: 6.7%;
					.pet-txt-headline{
						width: 80.5%;
						//font-size: 27.5px;
					}
					.descr-par{
						width: 78.5%;
						margin-top: 29px;
						//font-size: $em-base - 1px;
					}
					.pet-img-container{
						.pet-item{
							margin-left: -3%;
							margin-top: -50px;
							width: 100%;
							height: auto;
						}
						.elipse{
							left: 20%;
							top: 29%;
							width: 200px;
							height: 200px;
							.inner-txt{
								//font-size: $em-base - 2px;
							}
						}
					}
				}
				.img-block {
					.pet-img-square{
						//position: relative;
						//margin-left: -20px;
						margin: 0;
						width: 100%;
						height: auto;
					}
				}
			}
		}
		@include media-breakpoint-only(md) {
			margin-top: 50px;
			.row{
				position: relative;
				.pet-and-text{
					padding-left: 6.7%;
					.pet-txt-headline{
						width: 50.5%;
						//font-size: 27.5px;
					}
					.descr-par{
						width: 47.5%;
						margin-top: 20px;
						//font-size: $em-base ;
					}
					.pet-img-container{
						.pet-item{
							margin-left: 0px;
							margin-top: -60px;
							width: 50%;
							height: auto;
						}
						.elipse{
							z-index: 0;
							left: 3%;
							top: 27%;
							width: 200px;
							height: 200px;
							transform: scale(0.8);
							.inner-txt{
								//font-size: $em-base - 2px;
							}
						}
					}
				}
				.img-block {
					position: absolute;
					right: 0;
					top: 10px;
					width: 45%;
					.pet-img-square{
						margin: 0;
						width: 100%;
						height: auto;
					}
				}
			}
		}
		@include media-breakpoint-only(sm) {
			margin-top: 50px;
			.row{
				position: relative;
				.pet-and-text{
					padding-left: 0;
					.pet-txt-headline{
						width: 55.5%;
						//font-size: 24px;
					}
					.descr-par{
						width: 57.5%;
						margin-top: 15px;
						//font-size: $em-base ;
					}
					.pet-img-container{
						.pet-item{
							margin-left: 0px;
							margin-top: -40px;
							width: 50%;
							height: auto;
						}
						.elipse{
							z-index: 0;
							left: -10px;
							top: 24%;
							width: 190px;
							height: 190px;
							transform: scale(0.7);
							.inner-txt{
								//font-size: $em-base - 2px;
							}
						}
					}
				}
				.img-block {
					position: absolute;
					right: 0;
					top: 15%;
					padding: 0;
					width: 50%;

					.pet-img-square{
						//margin: 0;
						width: 80%;
						height: auto;
						margin-left: 15%;
					}
				}
			}
		}
		@include media-breakpoint-only(xs) {
			margin-top: 0px;
			.row{
				position: relative;
				.pet-and-text{
					padding-left: 15px;
					.pet-txt-headline{
						width: 100%;
						max-width: 260px;
						//font-size: 22px;
					}
					.descr-par{
						width: 100%;
						max-width: 300px;
						margin-top: 15px;
						//font-size: $em-base;
					}
					.pet-img-container{
						.pet-item{
							margin-left: -5px;
							margin-top: -50px;
							width: 300px;
							max-width: 100%;
							height: auto;
						}
						.elipse{
							z-index: 0;
							left: 5px;
							top: 27%;
							width: 175px;
							height: 175px;
							transform: scale(.8);
							.inner-txt{
								//font-size: $em-base - 1px;
							}
						}
					}
				}
				.img-block {
					position: absolute;
					right: 0;
					top: 14%;
					width: 50%;

					.pet-img-square{
						//position: relative;
						//margin-left: -20px;
						margin: 0;
						width: 100%;
						height: auto;
					}
				}
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact