mixin sImportnantChemicalsCats()
	// start sContact
	+b.SECTION.s-importnant-chemicals-cats.section#sContact&attributes(attributes)
		.container
			.row
				.col-20.col-lg-10.pet-and-text
					h3.h3.pet-txt-headline В корма для кошек добавлены
					p.descr-par
						|жизненно важные вещества
						br
						|такие как: таурин, аргинин и холин
						br
						|в суточной биологической потребности
					.pet-img-container
						img.pet-item(src="img/CatsChems/cat-and-plate.png")
						.elipse(style="background-color: #1dc5c3")
							span.inner-txt
								|таурин,
								br
								|аргинин и холин
								span.small-txt в суточной биологической потребности
				.col-20.col-lg-10.img-block.d-none.d-sm-block
					img.pet-img-square(src="img/CatsChems/blue-green-eyes-cat.jpg")
	// end sContact .d-none.d-lg-block